#page-wrap { 
  width: 600px; 
  margin: 15px auto; 
  position: relative; 
}

#sidebar { 
  width: 190px; 
  position: fixed; 
  margin-left: 410px; 
}

#prev_player, #next_player, #prev_goalie, #next_goalie, #prev_player_add, #next_player_add, #prev_goalie_add, #next_goalie_add {
	visibility: hidden;
	display: none;
}

#signin_up_buttons{
	position: relative;
	left: 70px;
	margin: 10px;
	width: 100px;
}

.attribute_title{
	display: flex;
}

#player_Lastname_sort, #goalie_Lastname_sort{
	display: flex;
}

.down_arrow{
	display: none;
	background-image: url('../media/arrow.png');
	background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    background-size: 100% 100%;
}

.up_arrow{
	display: none;
	background-image: url('../media/arrow.png');
	background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    background-size: 100% 100%;
    -webkit-transform: scaleY(-1);
}

#image{
	height: 100vh;
}

#well{
	background-color: #ffffff;
}

#jumbotron{
	background-color: #ffffff;
}

body{
	background-color: #ffffcc;
	color: #000000;
}