#page-wrap { 
  width: 600px; 
  margin: 15px auto; 
  position: relative; 
}

#sidebar { 
  width: 190px; 
  position: fixed; 
  margin-left: 410px; 
}

#prev_player, #next_player, #prev_goalie, #next_goalie, #prev_player_add, #next_player_add, #prev_goalie_add, #next_goalie_add {
	visibility: hidden;
	display: none;
}

#signin_up_buttons{
	position: relative;
	left: 70px;
	margin: 10px;
	width: 100px;
}

body{
	background-color: #000000;
	color: #ff0000;
}